:root {
  --swiper-navigation-color: var(--primary-high);
  --swiper-navigation-sides-offset: var(--space-3);
  --swiper-navigation-size: 2.25em;

  --swiper-pagination-color: var(--secondary);

  --swiper-edit-image-size: 110px;
  --swiper-edit-grid-gap: var(--space-3);
  --swiper-edit-min-height: calc(var(--swiper-edit-image-size) + 6px + 4px);
  --swiper-edit-top-offset: 54px;

  --swiper-arrow-size: 1.25em;
  --swiper-arrow-stroke: 1.8;
  --swiper-arrow-radius: 999px;
  --swiper-arrow-color: var(--swiper-navigation-color);
  --swiper-arrow-bg: rgb(from var(--secondary) r g b / 0.7);
  --swiper-arrow-blur: blur(3px);
  --swiper-arrow-opacity: 0.8;

  --swiper-arrow-color-hover: var(--primary);
  --swiper-arrow-opacity-hover: 1;
  --swiper-arrow-bg-hover: rgb(from var(--secondary) r g b / 0.9);
}